.main-wrap .main-search-wrap .main-search-inner {
    margin: 3.2rem auto 0;
    display: flex;
    padding: 3.2rem 0 2.4rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 120rem;
    border-radius: 2.4rem;
    background: #356cff;
}

.main-wrap .main-search-wrap .input-wrap {
    position: relative;
    width: 100%;
    max-width: 79.2em;
}

.main-wrap .main-search-wrap .input-wrap .v-input,
.main-wrap .main-search-wrap .input-wrap .v-input__control {
    width: 100%;
    background-color: #fff !important;
    border-radius: 100rem;
}

.v-input--density-default:not(.v-autocomplete--multiple),
.v-field--variant-solo,
.v-field--variant-filled {
    --v-input-control-height: 2.4375rem;
    --v-input-padding-top: .125rem;
}

.v-input--horizontal {
    grid-template-areas:
        "prepend control append"
        "a messages b";
    grid-template-columns: max-content minmax(0, 1fr) max-content;
    grid-template-rows: auto auto;
}

.v-input {
    display: grid;
    flex: 1 1 auto;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

.v-input__control {
    display: flex;
    grid-area: control;
}

.v-field.v-field--appended {
    --v-field-padding-end: 6px;
}

.v-text-field .v-field {
    /* cursor: text; */
}

.v-field {
    padding: 0;
}

.rounded-lg {
    border-radius: 1.2rem !important;
}

.v-field__overlay {
    border-radius: inherit;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.v-field--variant-outlined .v-field__loader {
    top: calc(100% - 3px);
}

.v-field__loader {
    top: calc(100% - 2px);
    left: 0;
    position: absolute;
    right: 0;
    width: 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    overflow: hidden;
}

.v-progress-linear__determinate,
.v-progress-linear__indeterminate {
    background: currentColor;
}

.v-progress-linear__determinate,
.v-progress-linear__indeterminate {
    background: currentColor;
}

.bg-primary {
    --v-theme-overlay-multiplier: var(--v-theme-primary-overlay-multiplier);
    background-color: rgb(var(--v-theme-primary)) !important;
    color: rgb(var(--v-theme-on-primary)) !important;
}

.v-progress-linear__determinate,
.v-progress-linear__indeterminate {
    background: currentColor;
}

.v-field__field {
    flex: 1 0;
    grid-area: field;
    position: relative;
    align-items: flex-start;
    display: flex;
}

.v-field.v-field--appended {
    --v-field-padding-end: 6px;
}

.v-input--density-default .v-field--variant-outlined,
.v-input--density-default .v-field--single-line,
.v-input--density-default .v-field--no-label {
    --v-field-padding-bottom: 16px;
}

.v-field--center-affix .v-label.v-field-label {
    top: 50%;
    transform: translateY(-50%);
}

.v-label.v-field-label {
    contain: layout paint;
    display: block;
    margin-inline-start: var(--v-field-padding-start);
    margin-inline-end: var(--v-field-padding-end);
    max-width: calc(100% - var(--v-field-padding-start) - var(--v-field-padding-end));
    pointer-events: none;
    position: absolute;
    top: var(--v-input-padding-top);
    transform-origin: left center;
    transition: .15s cubic-bezier(.4, 0, .2, 1);
    transition-property: opacity, transform;
    z-index: 1;
}

.v-label {
    font-size: 1rem;
    line-height: 150%;
    font-weight: 500;
    --v-medium-emphasis-opacity: 1;
    color: rgb(var(--v-theme-lightText));
}

.v-label {
    align-items: center;
    color: inherit;
    display: inline-flex;
    font-size: 1rem;
    letter-spacing: .009375em;
    min-width: 0;
    opacity: var(--v-medium-emphasis-opacity);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.main-wrap .main-search-wrap .v-theme--DefaultTheme .v-field__input {
    min-height: 5.6rem;
    padding-right: 8rem;
    padding-left: 3.2rem;
}

.main-wrap .main-search-wrap .v-text-field input {
    font-size: 1.8rem;
}

.v-input--density-default:not(.v-autocomplete--multiple) input.v-field__input,
.v-field--variant-solo input.v-field__input,
.v-field--variant-filled input.v-field__input {
    padding-bottom: .125rem;
}

.v-text-field .v-field--no-label input,
.v-text-field .v-field--active input {
    opacity: 1;
}

.v-input--density-default .v-field__input {
    row-gap: 8px;
}

input.v-field__input {
    background-color: transparent !important;
}

.v-text-field input {
    font-size: 1.6rem;
}

.v-text-field input {
    color: inherit;
    opacity: 0;
    flex: 1;
    transition: .15s opacity cubic-bezier(.4, 0, .2, 1);
    min-width: 0;
}

/* font */
body,
input,
textarea,
select,
button,
table,
pre {
    font-family: Spoqa Han Sans Neo, Noto Sans KR, Malgun Gothic, 맑은 고딕, 돋움, dotum, Apple SD Gothic Neo, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
    font-weight: 400;
    color: #111518;
    line-height: 1.5;
    letter-spacing: normal;
}